<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./src/css/home.css">
    <link rel="stylesheet" href="./src/css/reset.css">
    <link rel="stylesheet" href="./src/js/home.js">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        

</head>

<body>
   
    <main class="topo">
        <div>
            <div class="menu-principal">
              <button class="btn-suspenso" id="menuDropdown">
                <nav>
                    <ul>
                        <li>
                            <a href="/projeto/app/templates/cadastro.html">Cadastre-se</a>
                        </li>
                        <li>
                            <a href="/projeto/app/templates/login.html">Entrar</a>
                        </li>
                        <li>
                            <a href="/projeto/app/templates/index.html">Outro projeto</a>
                        </li>
                    </ul>
                </nav>
              </button>
            </div>
            <div>
                <h2>Minha Loja</h2>
            </div>
            <div>
                <div class="pesquisar">
                    <button>Pesquisar</button>
                </div>
                <div class="acessar-perfi">
                    <button>Perfil</button>
                </div>
            </div>
        </div>
    </main>
    <main class="navegacao">
        <div class="carrocel"></div>
        <div class="produtos"></div>
    </main>
    <main class="menu">
        <div class="loja"></div>
        <div class="avatar"></div>
        <div class="categorias"></div>
        <div class="carrinho"></div>
        <div class="salvos"></div>
    </main>

</body>

</html>